
@font-face {
    font-family: "Main" ;
    src: url(font/ArchivoNarrow-VariableFont_wght\ copy.ttf)
}

@font-face {
  font-family: "Navigation" ;
  src: url(font/ArchivoNarrow-VariableFont_wght\ copy.ttf)
}

@font-face {
    font-family: "Main-two" ;
    src: url(font/InstrumentSerif-Italic.ttf)
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }


html, body{
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 999;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 998;
    height: 100%;
    scroll-snap-type: y mandatory;
}

header {
    display: flex;
}

/*NAVIGATION BAR*/
.navigation{
    width: 100%;
    height: 64px;  
    padding-top:0.5%;
    padding-bottom: 0.8%;
    z-index: 3;
    position: fixed;
    top: 0px;
    overflow-y: hidden;
 


}

.navigation-item{
  display: flex;
  justify-content: center;
  gap: 19vw;
  z-index: 1;
 /* border-bottom: 1px solid black;*/
 z-index: 10000;

  
}

.navigation-item a{
   font-size: 0.9rem;
   letter-spacing: 1px;
   font-family:Navigation;
   text-decoration: none;
   color: black;
   word-wrap: normal;
   text-transform: uppercase;
   line-height: 1.5;
   
}

.navigation-item a:hover{
    cursor: pointer;
    -webkit-text-fill-color: white;
-webkit-text-stroke: 0.3px;
    --underline-width: 100%;
    transition: 0.1s;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .section {
    height: 100svh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
 
/*INTRO*/

.about-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .images-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; 
    margin-top: 2rem;
  }
  
  .intro-one {
    display: inline;
    font-size: 1.5rem;
    position: fixed;
    text-transform:none;
    left: 12.5vw;
    top:16vh;
    width: 200%;
    font-family: Main-two;
    letter-spacing: 0.05rem;
    line-height: 1.05;
    color:black;
    cursor: default;
  }

  .intro-two {
    display: inline;
    font-size: 1.5rem;
    position: fixed;
    text-transform:none;
    left: 51vw;
    top:16.55vh;
    width: 200%;
    font-family: Main-two;
    letter-spacing: 0.05rem;
    line-height: 1.05;
    color:black;
    cursor: default;
  }

  
  .me {
    width:40%;
    height: auto;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
  }
  
/*PRINT-MARKS-*/
.print-marks-one, .print-marks-two,
.print-marks-three, .print-marks-four {
  display: flex;
  position: fixed;
  width: 2.5%;
  height: auto;
}

  .print-marks-one{
    bottom: 2%;
    right: 0;
    margin: 0.5%;

  }

  .print-marks-two{
    bottom: 2%;
    left: 0;
    margin: 0.5%;
    
  }
  .print-marks-three{
    top:5%;
    right: 0;
    margin: 0.5%
  }
  .print-marks-four{
    top: 5%;
    left: 0;
    margin: 0.5%;
  }

  /*PRINT-MARKS-CIRCLES*/

  .print-marks-five, .print-marks-six,
  .print-marks-seven, .print-marks-eight {
    display: flex;
    position: fixed;
    width: 1.5%;
    height: auto;
  }

  .print-marks-five{
    top: 5.5%;
    left: 3%;
  }

  .print-marks-six{
    top: 5.5%;
    right: 3%;
  }

  .print-marks-seven{
    bottom: 2.5%;
    left: 3%;
  }
  .print-marks-eight{ 
    bottom: 2%;
    right: 3%;
  }


  .book {
    position: absolute;
    pointer-events: none;
    inset: 0;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(255,255,255,0.6);
    filter: blur(1px);
    overflow: hidden;

}
.left {
    box-shadow: 6px 0 2px 1px rgb(124, 123, 123), -8px 0 6px grey inset;
    left: 0;
    height: 100%;
    filter: blur(5px);
}

.right {
    right: 0;
    height: 100%;
}
.page {
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    box-sizing: border-box;

}


  .scroll-down-for-more{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 9vh;
  }

  .scroll-text{
    font-family: Main;
    text-transform: uppercase;
    font-size: 0.9rem;
    color:black;
    
  }
  
/*PROJECTS*/

.projects{
    display: flex;
    width: 100%;
    top:-8vh;
    position: relative;
    margin: auto;
    z-index:10;
    align-items:baseline /* same height baseline */
}

.image-hover-container {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    user-select: none;
    will-change: transform;

  }

.image-hover-container img {
  display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    transition: opacity 0.15s ease;
    display: block; 
}


.project-text {
  position: absolute;
  top: 33vh;  
  right: 37vw; 
  width: 110%;
  opacity: 0;
  transition: opacity .2s ease;
  pointer-events: none;
}

.project-block:hover .project-text {
  opacity: 1;
}


.title{
  font-size: 1.5rem;
  line-height: 1.2;
  margin-left: 2vw;
  width: 100%;
  font-family: Main-two ;
  text-transform:none;
  z-index: 10;

}

.description{
  font-size: 1.4rem;
  line-height: 1.1;
  width: 70%;
  font-family: Main-two;
  text-transform: uppercase;

}

.image-hover-container:hover ~ .project-text {
  opacity: 1;
}

.number-zero {
  font-family: Navigation;
  font-size: 0.8rem;
  position: relative;
  margin-top: -0.2rem;
  left:8.5vw;
  text-align: center;
  color: black;
}


.number-one {
  font-family: Navigation;
  font-size: 0.8rem;
  position: relative;
  margin-top: 0.5rem;
  top:22.5vh;
  right:29.5vw;
  text-align: center;
  color: black;
}
.number-two {
  font-family: Navigation;
  font-size: 0.8rem;
  position: relative;
  margin-top: 0.5rem;
  top:22.5vh;
  right:11.5vw;
  text-align: center;
  color: black;
}

.number-three {
  font-family: Navigation;
  font-size: 0.8rem;
  position: relative;
  margin-top: 0.5rem;
  top:22.5vh;
  left: 35.5vw;
  text-align: center;
  color: black;
}


/*PROJECT-ONE*/

.project-one-pic-one{
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 31%;
    opacity: 1;
    right: 77vw;
    transition: opacity 0.2s ease;

}

.project-one-pic-two{
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 31%;
    opacity: 0;
    right: 77vw;
}

.image-hover-container:hover .project-one-pic-one {
    opacity: 0;
    cursor: help;
}

.image-hover-container:hover .project-one-pic-two {
    opacity: 1;
    cursor: help;
    user-select: none;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64)); 
}


/*PROJECT-TWO*/

.project-two-pic-one{
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 63%;
    height: auto;
    opacity: 1;
    right: 12vw;
}

.project-two-pic-two{
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 63%;
    right: 12vw;
    opacity: 0;
}

.image-hover-container:hover .project-two-pic-one {
    opacity: 0;
    cursor: help;
    user-select: none;
}

.image-hover-container:hover .project-two-pic-two {
    opacity: 1;
    cursor: help;
    user-select: none;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}






/*PROJECT-THREE*/

.project-three-pic-one{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 31%;
    height: auto;
    right:44vw;
    opacity: 1;
    margin-right: 15vw;
}

.project-three-pic-two{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 31%;
    height: auto;
    right:44vw;
    opacity: 0;
    margin-right: 15vw;
}

.image-hover-container:hover .project-three-pic-one {
    opacity: 0;
    user-select: none;
    cursor: help;
}

.image-hover-container:hover .project-three-pic-two {
    opacity: 1;
    cursor: help;
    user-select: none;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}



/*PROJECT-FOUR*/

.project-four-pic-one{
    position: relative;
    width: 100%;
    max-width:33%;
    height: auto;
    opacity: 1;
    right: 40vw;

}

.project-four-pic-two{
    position: relative;
    width: 100%;
    max-width:33%;
    height: auto;
    opacity: 0;
    right: 40vw;

}

.image-hover-container:hover .project-four-pic-one {
    opacity: 0;
    cursor: help;
    user-select: none;
}

.image-hover-container:hover .project-four-pic-two {
    opacity: 1;
    cursor: help;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
    user-select: none;
}



.project-five-pic-one{
  position: relative;
  max-width: 120%;
  height: auto;
  opacity: 1;
  top: 13.12vh;
}

.project-five-pic-two{
  position: relative;
  max-width: 120%;
  height: auto;
  opacity: 0;
  top:12vh;

}

.project-five-pic-two:hover{
  cursor: help;
}

.image-hover-container:hover .project-five-pic-one {
  opacity: 0;
  cursor: help;
  user-select: none;
}

.image-hover-container:hover .project-five-pic-two {
  opacity: 1;
  cursor: grab;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
  user-select: none;
}

.project-six-pic-one{
  position: absolute;
  width: 100%;
  max-width: 36%;
  top: -20.5vh;
  opacity: 1;
  right: 73vw;
  transition: opacity 0.2s ease;

}

.project-six-pic-two{
  position: absolute;
  width: 100%;
  max-width: 36%;
  top: -20.5vh;
  opacity: 0;
  right: 73vw;
}

.image-hover-container:hover .project-six-pic-one {
  opacity: 0;
  cursor: help;
}

.image-hover-container:hover .project-six-pic-two {
  opacity: 1;
  cursor: help;
  user-select: none;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64)); 
}

.project-seven-pic-one{
  position: absolute;
  width: 100%;
  max-width: 23%;
  height: auto;
  top: -20vh;
  opacity: 1;
  right: 55vw;
}

.project-seven-pic-two{
  position: absolute;
  width: 100%;
  max-width: 23%;
  right: 55vw;
  top: -20vh;
  opacity: 0;
}

.image-hover-container:hover .project-seven-pic-one {
  opacity: 0;
  cursor: help;
  user-select: none;
}

.image-hover-container:hover .project-seven-pic-two {
  opacity: 1;
  cursor: help;
  user-select: none;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}


/*ABOUT*/


.me2 {
  width:50%;
  margin-left: 9vw;
  margin-top: 28vh;
  height: auto;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}

.about-description{
  position: relative;
  float: right;

}

.description-me{
  position: relative;
  width : 70%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1;
  right: 35vw;
  top:-1vh;
}

.description-me-two{
  position: relative;
  width : 70%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1;
  left: 8vw;
  top:2vh;
}

.info-title{
  position: relative;
  width : 90%;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: Main-two;
  line-height: 1.2;
  left: 8vw;
  top: 21vh;
}

.info-me{
  position: relative;
  width : 80%;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1.2;
  left: 8vw;
  top: 21vh;
}


.letterboxd{
text-decoration: none;
color: black;

}

.letterboxd:hover{
  cursor: help;
color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke: 0.4px;

}
.images-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}


/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  font-family: Main;
  text-transform: uppercase;
  font-size: 0.6rem;
  position: fixed;
  left: 0;
  bottom: 3vh;
  width: 100%;
  color: black;
  text-align: center;
  word-spacing: 76vw;
}

.background-overlay {
  display: none;
  position: fixed;
  top: 0; 
  width: 100vw; 
  height: 100vh;
  background:rgba(9, 9, 9, 0.552);
  backdrop-filter: blur(10px);
  z-index: 9000;

}

.black-square {
  display: flex;
  position: relative;
  left: 3vw;
  top:10vh;
  flex-wrap: wrap;
  height: 86vh;
  width: 94vw;
  background-color: rgb(0, 0, 0);
}

.project-plus {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  padding-top: env(safe-area-inset-top, 8vh);
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 9500;
  line-height: 0;
  gap: 3.5rem;
  cursor: alias;
}

.overlay-image {
  transition: transform 0.2s ease;
  will-change: transform;
  height: auto;
  max-height: calc(100dvh - 12rem);
  object-fit: contain;
}

.overlay-image:hover {
  transform: scale(1.15);
  cursor:crosshair;
}


.overlay-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-family: Main;
  text-transform: uppercase;
  font-size: 1.2rem;
}



@media only screen and (max-width:600px), (min-wdth:600px) {

.navigation-item a{
  font-size: 1rem
}


.navigation-item{
  gap: 16vw;
}

.images-wrapper{
  margin-bottom: 15vh;
}

.intro{
  font-size: 0.8rem;
  width:190%;
  margin-bottom:10vh;
  margin-right: 10vw;
  text-align: center;
  justify-content: center;
}

.me {
  width:65%;
}

.print-marks-one, .print-marks-two,
.print-marks-three, .print-marks-four {
  width: 6%;
  height: auto;
}

.print-marks-five, .print-marks-six,
.print-marks-seven, .print-marks-eight {
  width: 3.5%;
  height: auto;
}

.print-marks-five{
  top: 5%;
  left: 6%;
}

.print-marks-six{
  top: 5%;
  right: 6%;
}

.print-marks-seven{
  bottom: 2%;
  left: 6%;
}
.print-marks-eight{ 
  bottom: 1.5%;
  right: 6%;
}
.footer{
  font-size: 0.5rem;
  bottom: 2vh;
  word-spacing: 45vw;
}

.scroll-down-for-more{
  bottom: 7vh; 
}

.overlay-text{
  font-size: 0.5rem;
}

.scroll-text{
  font-size: 0.8rem;

}
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem; 

  }

  .image-hover-container {
    width: 60%; 
    padding-top: 10%; 
    margin: 0; 
  }

  
  .project-one-pic-one,
  .project-one-pic-two,
  .project-two-pic-one,
  .project-two-pic-two,
  .project-three-pic-one,
  .project-three-pic-two,
  .project-four-pic-one,
  .project-four-pic-two {

    position: relative;
  }

}

/*IMAC SCREENS*/

@media only screen and (min-device-width:1600px)


{


  .intro {
    font-size: 1.4rem;
    width: 100%;
  }


  .title{
    font-size: 1.4rem;
    line-height: 1.2;
    margin-left: 2vw;
    width: 100%;
    font-family: Main-two ;
    text-transform:uppercase;
    z-index: 10;
  
  }
  
  .description{
    font-size: 1.4rem;
    line-height: 1.1;
    width: 100%;
    font-family: Main;
    text-transform: uppercase;
  
  }

  .project-text {
    position: absolute;
    top: 30vh;  
    right: 53vw; 
    width: 60%;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
  }

  .footer {
     font-size: 0.8rem;

}

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
  }

  .image-hover-container {
    width: 23%;  
    margin: 0; 
  }
  
  .project-one-pic-one{
    width: 70%;
    max-width:100%;
    top:-13.25vh;
    right: 60vw;
    
}

.project-one-pic-two{
  width: 60%;
  max-width:100%;
  top:-13.25vh;
  right: 60vw;
}

.project-two-pic-one{
  width: 60%;
  max-width:200%;
  top: -17.25vh;
  right: -12vw;
}

.project-two-pic-two{
  width: 60%;
  max-width:200%;
  top: -17.25vh;
  right: -12vw;

}

.project-three-pic-one{
  width: 60%;
  max-width:105%;
  top: -31vh;
  right: 26vw;
}

.project-three-pic-two{
  width: 60%;
max-width:105%;
top: -31vh;
right: 26vw;
}

.project-four-pic-one{
  width: 60%;
  max-width:110%;
  top: -4.5vh;
  right: 20vw;
}

.project-four-pic-two{
  width: 60%;
  max-width:110%;
  top: -4.5vh;
  right: 20vw;
}

.overlay-text {
  font-size: 0.9rem;
}

.project-six-pic-one{
  position: absolute;
  width: 110%;
  max-width: 110%;
  top: -18.5vh;
  opacity: 1;
  right: 60vw;
  transition: opacity 0.2s ease;

}

.project-six-pic-two{
  position: absolute;
  width: 110%;
  max-width: 110%;
  top: -18.5vh;
  opacity: 0;
  right: 60vw;
}


.project-seven-pic-one{
  position: absolute;
  width: 100%;
  max-width: 72.5%;
  height: auto;
  top: -21.5vh;
  opacity: 1;
  right: 40vw;
}

.project-seven-pic-two{
  position: absolute;
  width: 100%;
  max-width: 72.5%;
  right: 40vw;
  top: -21.5vh;
  opacity: 0;
}

.description-me{
  position: relative;
  width : 60%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1.2;
  right:7vw;
}

.info-title{
  position: relative;
  width : 90%;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Main-two;
  line-height: 1.2;
  right:6vw;
  top: 21vh;
}

.info-me{
  position: relative;
  width : 80%;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1.2;
  right:7vw;
  top: 21vh;
}

.me2 {
  width:25%;
  margin-bottom: 14.5vh;
  margin-left: 27vw;
  height: auto;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}
  
}