
@font-face {
    font-family: "Main" ;
    src: url(font/ArchivoNarrow-VariableFont_wght\ copy.ttf)
}

@font-face {
  font-family: "Navigation" ;
  src: url(font/ArchivoNarrow-VariableFont_wght\ copy.ttf)
}

@font-face {
    font-family: "Main-two" ;
    src: url(font/InstrumentSerif-Italic.ttf)
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }


html, body{
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 999;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 998;
}

header {
    display: flex;
}

/*NAVIGATION BAR*/
.navigation{
    width: 100%;
    padding-top:0.6%;
    padding-bottom: 0.2%;
    z-index: 3;
    background-color:white;
    position: fixed;
    top: 0px;
    overflow-y: hidden;
    z-index: 997;
}

.navigation-item{
  display: flex;
  justify-content: center;
  gap: 32.8vw;
  
}

.navigation-item a{
   font-size: 1.3rem;
   letter-spacing: 1px;
   font-family: Navigation;
   text-decoration: none;
   color: black;
   word-wrap: normal;
   text-transform: uppercase;
   line-height: 1.5;
   



}

.navigation-item a:hover{
    cursor: pointer;
    -webkit-text-fill-color: white;
-webkit-text-stroke: 0.3px;
    --underline-width: 100%;
    transition: 0.1s;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .section {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
 
/*INTRO*/

.about-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .images-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; 
    margin-top: 2rem;
  }
  
  .intro {
    display: inline;
    font-size: 1.2rem;
    position: relative;
    text-transform:uppercase;
    left: 6vw;
    bottom: 33vh;
    width: 80%;
    font-family: Main;
    letter-spacing: 0.05rem;
    line-height: 1;
    color:black;
    cursor: default;
  }

  
  .me {
    width:40%;
    height: auto;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
  }
  
/*PRINT-MARKS-*/

.print-marks-one, .print-marks-two,
.print-marks-three, .print-marks-four {
  display: flex;
  position: fixed;
  width: 2.5%;
  height: auto;



}

  .print-marks-one{
    bottom: 2%;
    right: 0;
    margin: 0.5%;
    
    
  }
  .print-marks-two{
    bottom: 2%;
    left: 0;
    margin: 0.5%;
    
  }
  .print-marks-three{
    top:5%;
    right: 0;
    margin: 0.5%
  }
  .print-marks-four{
    top: 5%;
    left: 0;
    margin: 0.5%;
  }

  /*PRINT-MARKS-CIRCLES*/

  .print-marks-five, .print-marks-six,
  .print-marks-seven, .print-marks-eight {
    display: flex;
    position: fixed;
    width: 1.5%;
    height: auto;
    z-index: 999;


  }

  .print-marks-five{
    top: 5.5%;
    left: 3%;
  }

  .print-marks-six{
    top: 5.5%;
    right: 3%;
  }

  .print-marks-seven{
    bottom: 2.5%;
    left: 3%;
  }
  .print-marks-eight{ 
    bottom: 2%;
    right: 3%;
  }

  .scroll-down-for-more{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 5vh;
  }

  .scroll-text{
    font-family: Main;
    text-transform: uppercase;
    font-size: 0.9rem;
    color:black;
    
  }
  
/*PROJECTS*/

.projects{
    display: flex;
    width: 100%;
    position: relative;
    margin: auto;
    z-index:10;

}

.image-hover-container {
    display: flex;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    user-select: none;
    will-change: transform;
  }

.image-hover-container img {
    position: absolute;
    width: fit-content;
    height: auto;
    transition: opacity 0.15s ease;
    display: block;   
}


.project-text {
  position: absolute;
  top: 25vh;  
  right: 38vw; 
  width: 110%;
  opacity: 0;
  transition: opacity .2s ease;
  pointer-events: none;
}

.project-block:hover .project-text {
  opacity: 1;
}


.title{
  font-size: 1.2rem;
  line-height: 1.2;
  margin-left: 2vw;
  width: 100%;
  font-family: Main-two ;
  text-transform:uppercase;
  z-index: 10;

}

.description{
  font-size: 1.2rem;
  line-height: 1.1;
  width: 100%;
  font-family: Main;
  text-transform: uppercase;

}

.image-hover-container:hover ~ .project-text {
  opacity: 1;
}

/*PROJECT-ONE*/

.project-one-pic-one{
    position: absolute;
    width: 100%;
    max-width: 27%;
    top: -14.5vh;
    opacity: 1;
    right: 78vw;
    transition: opacity 0.2s ease;

}

.project-one-pic-two{
    position: absolute;
    width: 100%;
    max-width: 27%;
    top: -14.5vh;
    opacity: 0;
    right: 78vw;
}

.image-hover-container:hover .project-one-pic-one {
    opacity: 0;
    cursor: help;
}

.image-hover-container:hover .project-one-pic-two {
    opacity: 1;
    cursor: help;
    user-select: none;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64)); 
}

/*PROJECT-TWO*/

.project-two-pic-one{
    position: absolute;
    width: 100%;
    max-width: 53%;
    height: auto;
    top: -16.5vh;
    opacity: 1;
    right: 8vw;
}

.project-two-pic-two{
    position: absolute;
    width: 100%;
    max-width: 53%;
    right: 8vw;
    top: -16.5vh;
    opacity: 0;

}

.image-hover-container:hover .project-two-pic-one {
    opacity: 0;
    cursor: help;
    user-select: none;
}

.image-hover-container:hover .project-two-pic-two {
    opacity: 1;
    cursor: help;
    user-select: none;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}

/*PROJECT-THREE*/

.project-three-pic-one{
    position: relative;
    width: 100%;
    max-width: 28%;
    height: auto;
    top: -22.5vh;
    right:45vw;
    opacity: 1;
    margin-right: 15vw;
}

.project-three-pic-two{
    position: relative;
    width: 100%;
    max-width: 28%;
    height: auto;
    top: -22.5vh;
    right:45vw;
    opacity: 0;
    margin-right: 15vw;
}

.image-hover-container:hover .project-three-pic-one {
    opacity: 0;
    user-select: none;
    cursor: help;
}

.image-hover-container:hover .project-three-pic-two {
    opacity: 1;
    cursor: help;
    user-select: none;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}


/*PROJECT-FOUR*/

.project-four-pic-one{
    position: relative;
    width: 100%;
    max-width:35%;
    height: auto;
    opacity: 1;
    top:-6vh;
    right: 36vw;

}

.project-four-pic-two{
    position: relative;
    width: 100%;
    max-width:35%;
    height: auto;
    opacity: 0;
    top:-6vh;
    right: 36vw;

}

.image-hover-container:hover .project-four-pic-one {
    opacity: 0;
    cursor: help;
    user-select: none;
}

.image-hover-container:hover .project-four-pic-two {
    opacity: 1;
    cursor: help;
    filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
    user-select: none;
}

.project-five-pic-one{
  position: relative;
  max-width: 120%;
  height: auto;
  opacity: 1;
  top: 13.12vh;
}

.project-five-pic-two{
  position: relative;
  max-width: 120%;
  height: auto;
  opacity: 0;
  top:12vh;

}

.project-five-pic-two:hover{
  cursor: help;
}

.image-hover-container:hover .project-five-pic-one {
  opacity: 0;
  cursor: help;
  user-select: none;
}

.image-hover-container:hover .project-five-pic-two {
  opacity: 1;
  cursor: grab;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
  user-select: none;
}


/*ABOUT*/


.me2 {
  width:35%;
  margin-bottom: 17vh;
  margin-left: 20vw;
  height: auto;
  filter: drop-shadow(0 0 0.20rem rgb(65, 64, 64));
}


.about-description{
  position: relative;
  float: right;

}

.description-me{
  position: relative;
  width : 80%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1.2;
  right:10vw;
  top:3vh;
}

.info-title{
  position: relative;
  width : 90%;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: Main-two;
  line-height: 1.2;
  right:10vw;
  top: 21vh;
}

.info-me{
  position: relative;
  width : 80%;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: Main;
  line-height: 1.2;
  right:11.5vw;
  top: 21vh;
}


.resume{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 20vh;
  z-index: 10;
  
}

.resume-button{ 
  font-family: Main;
  text-transform: uppercase;
  font-size: 0.9rem;
  color:black;
  padding: 0.5%;
  border-radius: 1px;
  text-decoration: none;
  border: none; 
  position: relative;
  cursor: pointer;
  background-color: white;
  opacity: 1;
  background: linear-gradient(currentColor 0 0) 
bottom left/
var(--underline-width, 0%) 0.12em
no-repeat;
transition: background-size 0.35s;
  justify-content: center;
}

.resume-button:hover{
cursor: pointer;
--underline-width: 100%;
-webkit-text-fill-color: white;
-webkit-text-stroke: 0.4px;
transition: 0.35s;
}

.letterboxd{
text-decoration: none;
color: black;

}

.letterboxd:hover{
  cursor: help;
color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke: 0.4px;

}
.images-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}


/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  font-family: Main;
  text-transform: uppercase;
  font-size: 0.6rem;
  position: fixed;
  left: 0;
  bottom: 3vh;
  width: 100%;
  color: black;
  text-align: center;
  word-spacing: 76vw;
}

.background-overlay {
  display: none;
  position: fixed;
  top: 0; 
  width: 100vw; 
  height: 100vh;
  background:rgba(0, 0, 0, 0.902);;
  z-index: 997;

}

.project-plus {
  display: none;
  justify-content: center; 
  align-items: center; 
  align-content: flex-start;
  width: 100%;
  height: auto;
  position: fixed;
  inset: 0;
  z-index: 998;
  flex-wrap: wrap;  
  top:1vh;
  line-height: 0;
  gap: -1.5rem 0.5rem;  
  cursor: alias;
}

.overlay-image {
  transition: transform 0.2s ease;
  will-change: transform;
  height: auto;
}

.overlay-image:hover {
  transform: scale(1.2);
  cursor:crosshair;
}



.overlay-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-family: Main;
  text-transform: uppercase;
  font-size: 0.8rem;
  z-index: 999 !important;
}

@media only screen and (max-width:600px), (min-wdth:600px) {

.navigation-item a{
  font-size: 0.75rem
}


.navigation-item{
  gap: 5vw;
}

.images-wrapper{
  margin-bottom: 15vh;
}

.intro{
  font-size: 0.85rem;
  width:80%
}

.me {
  width:65%;
}

.print-marks-one, .print-marks-two,
.print-marks-three, .print-marks-four {
  width: 7%;
  height: auto;
}

.print-marks-five, .print-marks-six,
.print-marks-seven, .print-marks-eight {
  width: 4.5%;
  height: auto;
}

.print-marks-five{
  top: 5.5%;
  left: 8%;
}

.print-marks-six{
  top: 5.5%;
  right: 8%;
}

.print-marks-seven{
  bottom: 2.5%;
  left: 8%;
}
.print-marks-eight{ 
  bottom: 2%;
  right: 8%;
}
.footer{
  font-size: 0.6rem;
  word-spacing: 80vw;
}

.scroll-down-for-more{
  bottom: 18vh;
  
}

.scroll-text{
  font-size: 0.8rem;

}


  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem; 

  }

  .image-hover-container {
    width: 60%; 
    padding-top: 10%; 
    margin: 0; 
  }
  
  .project-one-pic-one,
  .project-one-pic-two,
  .project-two-pic-one,
  .project-two-pic-two,
  .project-three-pic-one,
  .project-three-pic-two,
  .project-four-pic-one,
  .project-four-pic-two {

    position: relative;
  }

  .project-one-pic-one,  .project-one-pic-two{
   top:-17vh;
  }

  .project-two-pic-one,  .project-two-pic-two{
    top:-10vh;

   }
  
  .project-three-pic-one, .project-three-pic-two{
    right: 3.5rem;
    top: -20vh;
  }

  .project-four-pic-one, .project-four-pic-two{
    left: 3rem;
    top:-9.7vh;
  }

  .description-one{
    width : 80%;
    font-size: 0.7rem;
  }
}


